# Target directory
/target/
!/.mvn/wrapper/maven-wrapper.jar

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Eclipse
/.classpath
/.project
/.settings/
.bash_profile
.bashrc
.buildpath
# bin (binaries)
/bin/
# tmp (temporary files)
/tmp/

# Maven
log/
*.log
*.swp
*.tmp
*.DS_Store

# Gradle
.gradle
build/

# Other common files
.DS_Store
Thumbs.db
