<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Voir les détails de la catégorie</title>
</head>

<body>
<section layout:fragment="content">
    <div class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Détails de la catégorie</h4>
                <p><strong>Identifiant:</strong> <span th:text="${category.id}"></span></p>
                <p><strong>Nom:</strong> <span th:text="${category.name}"></span></p>
                <div class="mt-3">
                    <a th:href="@{/categories/index}" class="btn btn-primary">Retour à la liste</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
