<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des utilisateurs</title>
</head>
<body>
<section layout:fragment="content">
    <div class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Liste des utilisateurs</h4>
                <p class="card-description">
                    Voici la liste de tous les utilisateurs :
                </p>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom d'utilisateur</th>
                            <th>Email</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}">ID</td>
                            <td th:text="${user.username}">Nom d'utilisateur</td>
                            <td th:text="${user.email}">Email</td>
                            <td th:text="${user.getFormattedStatus()}">Statut</td>
                            <td>
                                <a th:href="@{/users/view/{id}(id=${user.id})}" class="btn btn-info btn-icon">
                                    <i class="mdi mdi-eye"></i>
                                </a>
                                <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-warning btn-icon">
                                    <i class="mdi mdi-pencil"></i>
                                </a>
                                <a th:if="${user.status == 'Available'}" th:href="@{/users/delete/{id}(id=${user.id})}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');" class="btn btn-danger btn-icon">
                                    <i class="mdi mdi-delete"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                <a class="page-link" th:href="@{/users/listUser(page=${currentPage - 1}, size=${size})}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage} ? 'active'">
                                <a class="page-link" th:href="@{/users/listUser(page=${i}, size=${size})}" th:text="${i}">1</a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                <a class="page-link" th:href="@{/users/listUser(page=${currentPage + 1}, size=${size})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
