<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .clearfix{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .font-weight-medium.text-center.mb-0{
            margin-top: 10px;
        }
        .card .card-body {
            padding: 14px !important;
        }
        .col-xl-6.grid-margin.stretch-card.cat{
            background: white;
            padding: 15px;
        }
    </style>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col-xl-6 grid-margin stretch-card">
            <div class="row">
                <div class="col-xl-6 grid-margin stretch-card">
                    <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-timer-sand text-warning icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Nombre d'échanges en cours</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-warning text-center mb-0" th:text="${ongoingExchanges}">Nombre d'échange en cours</h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-swap-horizontal mr-1" aria-hidden="true"></i> <span th:text="${ongoingExchanges}"> echange </span> échanges en cours
                        </p>
                    </div>
                </div>
                </div>
                <div class="col-xl-6 grid-margin stretch-card">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-check-circle text-success icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">Nombre d'échanges validés</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-success text-center mb-0" th:text="${acceptedExchanges}">Nombre d'échange en cours</h3>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-swap-horizontal mr-1" aria-hidden="true"></i> <span th:text="${acceptedExchanges}"> echange </span> échanges validés
                    </p>
                </div>
            </div>
        </div>
                <div class="col-xl-6 grid-margin stretch-card">
                    <div class="card card-statistics">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-left">
                                    <i class="mdi mdi-cancel text-primary icon-lg"></i>
                                </div>
                                <div class="float-right">
                                    <p class="mb-0 text-right">Nombre d'échanges annulés</p>
                                    <div class="fluid-container">
                                        <h3 class="font-weight-medium text-primary text-center mb-0" th:text="${cancelledExchanges}">Nombre d'échange en cours</h3>
                                    </div>
                                </div>
                            </div>
                            <p class="text-muted mt-3 mb-0">
                                <i class="mdi mdi-swap-horizontal mr-1" aria-hidden="true"></i> <span th:text="${cancelledExchanges}"> echange </span> échanges annulés
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 grid-margin stretch-card">
                    <div class="card card-statistics">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-left">
                                    <i class="mdi mdi-close-circle text-danger icon-lg"></i>
                                </div>
                                <div class="float-right">
                                    <p class="mb-0 text-right">Nombre d'échanges refusés</p>
                                    <div class="fluid-container">
                                        <h3 class="font-weight-medium text-danger text-center mb-0" th:text="${refusedExchanges}">Nombre d'échange en cours</h3>
                                    </div>
                                </div>
                            </div>
                            <p class="text-muted mt-3 mb-0">
                                <i class="mdi mdi-swap-horizontal mr-1" aria-hidden="true"></i> <span th:text="${refusedExchanges}"> echange </span> échanges refusés
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 grid-margin stretch-card cat">
            <div class="container">
                <!-- <h6>Nombre des objets par catégorie</h6> -->
                <canvas id="pieChart"></canvas>
            </div>

            <script th:inline="javascript">
                /*<![CDATA[*/
                var objectsByCategory = /*[[${objectsByCategory}]]*/ [];
                /*]]>*/

                var labels = objectsByCategory.map(function(item) {
                    return item.name;
                });

                var counts = objectsByCategory.map(function(item) {
                    return item.object_count;
                });

                function getRandomBrightColor() {
                    var letters = '89ABCDEF';
                    var color = '#';
                    for (var i = 0; i < 6; i++) {
                        color += letters[Math.floor(Math.random() * letters.length)];
                    }
                    return color;
                }

                var backgroundColors = labels.map(function() {
                    return getRandomBrightColor();
                });

                var borderColors = backgroundColors.map(function(color) {
                    return color.replace('0.2', '1');
                });

                var ctx = document.getElementById('pieChart').getContext('2d');
                new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: counts,
                            backgroundColor: backgroundColors,
                            borderColor: borderColors,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Nombre des objets par catégorie'
                            }
                        }
                    }
                });
            </script>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        Nombre d'échanges
                    </h4>
                    <div class="mt-3">
                        <form th:action="@{/dashboard}" method="get" class="form-inline" style="justify-content: end" >
                            <input type="date" name="date1" th:value="${date1}" class="form-control mr-2" >
                            <input type="date" name="date2" th:value="${date2}" class="form-control mr-2">
                            <div class="form-group mr-2">
                                <select name="status" class="form-control">
                                    <option value="" th:selected="${status == null}">Statut (tous)</option>
                                    <option value="Accepted" th:selected="${status == 'Accepted'}">Accepté</option>
                                    <option value="Cancelled" th:selected="${status == 'Cancelled'}">Annulé</option>
                                    <option value="Refused" th:selected="${status == 'Refused'}">Refusé</option>
                                    <option value="Proposed" th:selected="${status == 'Proposed'}">En cours</option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-secondary">Rechercher</button>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <div class="container">
                            <canvas id="barChart"></canvas>
                        </div>

                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            var exchangesBetweenDates = /*[[${exchangesBetweenDates}]]*/ [];

                            var labels = exchangesBetweenDates.map(function(item) {
                                return item.period;
                            });

                            var data = exchangesBetweenDates.map(function(item) {
                                return item.exchange_count;
                            });

                            var ctx = document.getElementById('barChart').getContext('2d');
                            new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        label: 'Nombre d\'échanges',
                                        data: data,
                                        backgroundColor: '#bc8246',
                                        borderColor: '#8a8f6a',
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                            /*]]>*/
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Les 10 Utilisateurs Ayant Réalisé le Plus d'Échanges</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                   Pseudo
                                </th>
                                <th>
                                    Échanges réalisés
                                </th>
                                <th>Pourcentage d'Échanges Réalisés</th>
                                <th>Proportion des Échanges</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  th:each="exchange, iterStat : ${exchangesByUser}">
                                <td class="font-weight-medium">
                                    <span th:text="${iterStat.index + 1}">1</span>
                                </td>
                                <td th:text="${exchange.username}">
                                  username
                                </td>
                                <td th:text="${exchange.exchange_count}">
                                   echange
                                </td>
                                <td th:text="${exchange.percentage + '%'}"
                                    th:class="'text-' +
                    (${exchange.percentage} < 10 ? 'danger' :
                    (${exchange.percentage} <= 20 ? 'warning' :
                    (${exchange.percentage} < 40 ? 'primary' : 'success')))">
                                    pourcentage
                                </td>
                                <td class="text-danger">
                                    <div class="progress">
                                        <div th:class="'progress-bar progress-bar-striped ' +
                        (${exchange.percentage} < 10 ? 'bg-danger' :
                        (${exchange.percentage} <= 20 ? 'bg-warning' :
                        (${exchange.percentage} < 40 ? 'bg-primary' : 'bg-success')))"
                                             role="progressbar"
                                             th:style="'width:' + ${exchange.percentage} + '%;'"
                                             th:aria-valuenow="${exchange.percentage}"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>
