.button {}
.title{
    color: var(--third-color);
}
.sub-title{
    color: var(--second-color);
}
.logo img{
    width: 50%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}