<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin</title>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/customStyle.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" />
</head>

<body>
    <div class="container-scroller">

        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo" href="index.html">
                    <img th:src="@{/images/brand/logo-no-background.png}" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html">
                    <img th:src="@{/images/logo-mini.svg}" alt="logo" />
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
                            aria-expanded="false">
                            <span class="profile-text">
                                Bonjour, <span th:text="${session.USER_PSEUDO}">User</span>!
                            </span>
                            <img class="img-xs rounded-circle"
                                th:src="${session.USER_PROFILE_PICTURE != null ? session.USER_PROFILE_PICTURE : '/images/default-profile.jpg'}"
                                alt="Profile image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <a class="dropdown-item mt-2" th:href="${'/users/view/' + session.USER_ID}">
                                <i class="mdi mdi-account"></i> Voir mon profile
                            </a>
                            <a class="dropdown-item" th:href="@{/authentification/logout}"
                                th:onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                <i class="mdi mdi-logout"></i> Déconnexion
                            </a>
                            <form id="logout-form" th:action="@{/authentification/logout}" method="post"
                                style="display: none;"></form>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>

        <div class="custom-toast" style="display: flex;justify-content: center">
            <div th:if="${warning != null}" class="alert alert-warning alert-dismissible fade show" role="alert">
                <span th:text="${warning}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show custom-toast"
                role="alert">
                <span th:text="${error}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div th:if="${success != null}" class="alert alert-success alert-dismissible fade show custom-toast"
                role="alert">
                <span th:text="${success}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">

            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <div class="nav-link">
                            <div class="user-wrapper">
                                <div class="profile-image">
                                    <img th:src="${session.USER_PROFILE_PICTURE != null ? session.USER_PROFILE_PICTURE : '/images/default-profile.jpg'}" alt="profile image">
                                </div>
                                <div class="text-wrapper">
                                    <p class="profile-name" th:text="${session.USER_PSEUDO}"></p>
                                    <div>
                                        <small class="designation text-muted">ADMINISTRATEUR</small>
                                        <span class="status-indicator online"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dashboard}">
                            <i class="menu-icon mdi mdi-television"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories/listCategory}">
                            <i class="menu-icon mdi mdi-view-list"></i>
                            <span class="menu-title">Categories</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/typeReports}">
                            <i class="menu-icon mdi mdi-alert-circle-outline"></i>
                            <span class="menu-title">Type de signalements</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/listUser}">
                            <i class="menu-icon mdi mdi-account"></i>
                            <span class="menu-title">Utilisateurs</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Exchange/liste}">
                            <i class="menu-icon mdi mdi-view-list"></i>
                            <span class="menu-title">Liste des Echanges</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/pages/object/liste}">
                            <i class="menu-icon mdi mdi-table"></i>
                            <span class="menu-title">Gestion des objets</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reports/listReports}">
                            <i class="menu-icon mdi mdi-alert"></i>
                            <span class="menu-title">Objets signalés</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper" layout:fragment="content">
                    Content is Here!
                </div>
                <!-- content-wrapper ends -->

                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">TPT © 2024
                            <a href="https://github.com/mathieu29nick" target="_blank">
                                mathieu29nick </a>,
                            <a href="https://github.com/10soa" target="_blank"> 10Soa,</a>
                                    <a href="https://github.com/JessicaWilson-7" target="_blank"> Jess,</a>
                                    <a href="https://github.com/manoaLoic" target="_blank">ManoaLoic</a>
                           </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->

        </div>

        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
    <script th:src="@{/js/off-canvas.js}"></script>
    <script th:src="@{/js/misc.js}"></script>
    <script th:src="@{/js/dashboard.js}"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            funApplicationDisabled();

            funContactDisabled();

            funProductDisabled();

        });

        function funApplicationDisabled() {
            $('#app-input-service-id').prop('readOnly', true);
            $('#app-input-name').prop('disabled', true);
            $('#app-input-icon').prop('disabled', true);
            $('#app-input-meta-desc').prop('disabled', true);
            $('#app-input-meta-key').prop('disabled', true);
            $('#app-input-meta-google-site').prop('disabled', true);
            $('#app-btn-cancel').prop('disabled', true);
            $('#app-btn-save').prop('disabled', true);
            $('#app-btn-edit').prop('disabled', false);
        }

        function funContactDisabled() {
            $('#contact-input-service-id').prop('readOnly', true);
            $('#contact-name').prop('disabled', true);
            $('#contact-phone').prop('disabled', true);
            $('#contact-sms').prop('disabled', true);
            $('#contact-hiMessage').prop('disabled', true);
            $('#contact-address').prop('disabled', true);
            $('#contact-email').prop('disabled', true);
            $('#contact-btn-cancel').prop('disabled', true);
            $('#contact-btn-save').prop('disabled', true);
            $('#contact-btn-edit').prop('disabled', false);
        }

        function funProductDisabled() {
            $('#product-input-uuid').prop('readOnly', true);
            $('#product-input-name').prop('disabled', true);
            $('#product-input-img-src').prop('disabled', true);
            $('#product-input-img-alt').prop('disabled', true);
            $('#product-input-href').prop('disabled', true);
            $('#product-input-price').prop('disabled', true);
            $('#product-input-brochure').prop('disabled', true);
            $('#product-btn-cancel').prop('disabled', true);
            $('#product-btn-save').prop('disabled', true);
            $('#product-btn-edit').prop('disabled', false);
        }

    </script>


</body>

</html>